/* Light mode colours */
:root {
  --titletext:rgb(28, 28, 28);
  --subheading: #000000;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #ffffff; 
  --mainlight: #c0d5db;
  --main: #569fb3;
  --highlight: #346471;
  --highlightlighter: #4a7e8d;
  --yellowlight: #e6dec8;
  --yellow: #ecc75d;
  --pink: #b35686;
}

/* Dark mode colours */
body.dark {
  --mainlight: #4a7e8d;
  --main: #346471;
  --highlight: #569fb3;
  --highlightlighter: #c0d5db;
  --yellowlight: #5a513d;
  --yellow: #ecc75d;
  --bg: #121212;
  --titletext: white;
  --subheading:white ;
  --border: #333;
  --code-bg: #1e1e1e;
  --accent: #1e1e1e;
}

/* Heading styling */
h1,
h2 {
  font-family: "Spline Sans";
  font-weight: 450;
  color: var(--subheading)
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h3{
  font-family: "Spline Sans";
}

/* Body styling */

body {
  margin: 0;
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
